body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.links, .contact {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    color: #007bff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

.qr-codes {
    display: flex;
    justify-content: space-around; /* 或者 space-between, space-evenly 等 */
    flex-wrap: wrap; /* 在小屏幕上换行 */
}

.qr-code {
    text-align: center;
    margin: 10px;
}

.qr-code img {
    width: 150px; /* 控制图片宽度 */
    height: 150px; /* 控制图片高度 */
}

footer {
    text-align: center;
    padding: 10px;
    background: #007bff;
    color: #fff;
}
